
<%- include('../components/header.ejs') %>
<%- include('../components/navbarNew.ejs') %>

<script src="./auth/login.js"></script>
<body>

    <div id="login-card" class="card">
    
        <h2 id="login-card-header" class="card-header">Log In</h2>
        <div id="login-card-body" class="card-body">
            <form id="login-form" class="p-3 mt-3" action="/login" method="POST" name="loginform" onsubmit="return validateLogin();">
                <p class="form-field d-flex align-items-center"> 
                    <span class="fa-solid fa-at"></span>
                    <input type="text" id="email" name="email" placeholder="Enter email">
                </p> 
                <p class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" id="password" name="password" placeholder="Enter password">
                </p>
    
                <button class="login-btn mt-3" type="submit">Log In</button>
            </form>
        </div>
    
        <div id="signup-redirect" class="text-center">
            <p>Create new account?</p>
            <a href="/signup">Sign in</a>
        </div>
    
    </div>
    
</body>

<%- include('../components/footer.ejs') %>