
<%- include('../components/header.ejs') %>
<%- include('../components/navbarNew.ejs') %>

<script src="./auth/login.js"></script>

<div class="card">

    <h2 class="card-header">Log In</h2>
    <div class="card-body">
        <form action="/login" method="POST" name="loginform" onsubmit="return validateLogin();">
            <p> 
                <label for="email">Enter Email: </label>
                <input type="text" id="email" name="email" placeholder="Type in your email.">
            </p> 
            <p>
                <label for="password">Enter Password: </label>
                <input type="password" id="password" name="password" placeholder="Type in your password.">
            </p>

            <button class="btn btn-warning" type="submit">Log In</button>
        </form>
    </div>

</div>

<%- include('../components/footer.ejs') %>