<%- include('../components/header.ejs') %>

<link rel="stylesheet" type="text/css" href="../css/admin.css">

<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/admin">Co-Hop Admin <i class="fa-solid fa-screwdriver-wrench"></i></a>
    <form id="nav-menu"class="form-inline buttons">
        <a class="adminNavOption admin-login" href="/admin/login">Log in</a>
    </form>
</nav>

<script src="./login.js"></script>

<div id="login-card" class="card">

    <h2 id="login-card-header" class="card-header">Log In</h2>
    <div id="login-card-body" class="card-body">
        <form id="login-form" class="p-3 mt-3" action="/admin/login" method="POST" name="loginform" onsubmit="return validateLogin();">
            <p  class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" id="key" name="key" placeholder="Type the key.">
            </p>
            <p  class="form-field d-flex align-items-center"> 
                <span class="fa-solid fa-at"></span>
                <input type="text" id="email" name="email" placeholder="Type in your email.">
            </p> 
            <button class="btn btn-warning login-btn mt-3" type="submit">Log In</button>
        </form>
    </div>
</div>

<%- include('../components/footer.ejs') %>