<%- include('../global/header.ejs') %>

<script src="./login.js"></script>

<div class="card">

    <h2 class="card-header">Log In</h2>
    <div class="card-body">
        <form action="/admin/login" method="POST" name="loginform" onsubmit="return validateLogin();">
            <p>
                <label for="key">Enter Key: </label>
                <input type="password" id="key" name="key" placeholder="Type the key.">
            </p>
            <p> 
                <label for="email">Enter Email: </label>
                <input type="text" id="email" name="email" placeholder="Type in your email.">
            </p> 
            <button class="btn btn-warning" type="submit">Log In</button>
        </form>
    </div>
</div>

<%- include('../global/footer.ejs') %>