<!-- boardgame Modal -->
<div class="modal fade" id="admin-ssmodal" tabindex="-1" role="dialog" aria-labelledby="admin-ssmodal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="admin-ssmodal-title"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="admin-ssmodal-body">
                <p class="modal-body-item" id="modal-language">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change subscription plan
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">plan1</button>
                      <button class="dropdown-item" type="button">plan2</button>
                      <button class="dropdown-item" type="button">plan3</button>
                    </div>
                  </div>
                </p>
                <p class="modal-body-item" id="modal-language">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Change subscription status
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Activate</button>
                        <button class="dropdown-item" type="button">Deactivate</button>
                        <button class="dropdown-item" type="button">Cancel</button>
                      </div>
                    </div>
                  </p>
            </div>
            <div class="admin-ssmodal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-ban"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            </div>
        </div>
    </div>
  </div>