<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/admin">Co-Hop Admin <i class="fa-solid fa-screwdriver-wrench"></i></a>
    <form class="form-inline buttons">
        <a class="adminNavOption admin-boardgame" href="/admin/boardgame">Boardgames</a>
        <a class="adminNavOption admin-order" href="/admin/order">Orders</a>
        <a class="adminNavOption admin-subscription" href="/admin/subscription">Subscriptions</a>
        <a class="adminNavOption admin-logout" href="/admin/logout">Log out</a>
    </form>
</nav>