<h1>Subscriptions</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">User Email</th>
        <th scope="col">Subscription Type</th>
        <th scope="col">Subscription Status</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark@mail.com</td>
        <td>Monthly</td>
        <td>Active</td>
        <td><button class="admin-edit-modal-btn" data-toggle="modal" data-target="#admin-ssmodal"><i class="fa-solid fa-pen-to-square"></i></button></td>
    </tr>
    </tbody>
</table>