<h1>Orders</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Order Number</th>
        <th scope="col">User email</th>
        <th scope="col">Subscription</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Order Status</th>
        <th scope="col">Edit Order Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">#123456</th>
        <td>Mark@mail.com</td>
        <td>Monthly</td>
        <td>2022-06-01 17:00:00</td>
        <td>Pending</td>
        <td><button class="admin-edit-modal-btn" data-toggle="modal" data-target="#admin-odmodal"><i class="fa-solid fa-pen-to-square"></i></button></td>
    </tr>
    </tbody>
</table>