<h1>Board game items</h1>

<button id="add-bg-item" data-toggle="modal" data-target="#admin-bgmodal">Add a new board game item</button>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Board Game ID</th>        
        <th scope="col">Board Game</th>
        <th scope="col">Available</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id="boardgame-table-body">

    </tbody>
</table>