<h1>Orders</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Order Number</th>
        <th scope="col">User Stripe ID </th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">View Order Items</th>
        <th scope="col">Edit Order Status</th>
    </tr>
    </thead>
    <tbody id="order-table-body">

    </tbody>
</table>