<%- include('./header.ejs') %>
<%- include('./navbarIndex.ejs') %>
<body>
    <link rel="stylesheet" type="text/css" href="./global/index.css">
    <script src="./global/index.js"></script>

    <div class="outline">
        <div class="main-box subscribe-box">
            <p>Buy a subscription to rent 3 or more boardgames a month. It's a cheaper option to enjoy more boardgames at home!</p>
            <a type="button" class="btn btn-light" href="/subscribe-plan">Subscribe</a>
        </div>
        <div class="main-box purchase-box">
            <p>Just want to buy a boardgame? You can also do that.</p>
            <a type="button" class="btn btn-dark" href="/shop">Purchase</a>

        </div>

    </div>
</body>
<%- include('./footer.ejs') %>