<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/home">Co-Hop <i class="fa-solid fa-dice"></i></a>
    <form class="form-inline buttons">
        <a class="button search" href="/search" id="searchBtn">Search</a>
        <a class="button order-history" href="/order-history" id="orderHistoryBtn">Order history</a>
        <a class="button faq" href="/faq" id="faqBtn">FAQ</a>
        <a class="button profile" href="/profile" id="profileBtn">FAQ</a>
        <a class="button logout" href="/logout" id="logoutButton">Log out</a>
    </form>
</nav>