<% items.forEach(function(item){ %>
<div class="vertical-card" style="width: 18rem;">
    <img class="vertical-card-img-top" src="..." alt="Card image">
    <h5 class="vertical-card-title"><%= item.name %></h5>
    <p class="vertical-card-amount">1</p>
    <div class="vertical-card-btns">
        <a href="#"><i class="fa-solid fa-circle-minus"></i></a>
    </div>
</div>
<% }) %>