<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/">Co-Hop <i class="fa-solid fa-dice"></i></a>
    <form class="form-inline buttons">
        <a class="button about" href="/about" id="aboutBtn">About CoHop</a>
        <a class="button contact-us" href="/contact" id="contactBtn">Contact Us</a>
        <a class="button log-in" href="/login" id="loginBtn">Log In</a>
    </form>
</nav>