<h2>Search board games</h2>

<div class="search-bars">
    <input class="search-input" type="text" placeholder="Type in the name of the board game." name="search">
    <button class="btn btn-dark" ><i class="fa fa-search"></i></button>
</div>

<div class="options-group">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        genre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">option</button>
        <button class="dropdown-item" type="button">Another option</button>
        <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        no of people
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">option</button>
        <button class="dropdown-item" type="button">Another option</button>
        <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        duration
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">option</button>
        <button class="dropdown-item" type="button">Another option</button>
        <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        age
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">option</button>
        <button class="dropdown-item" type="button">Another option</button>
        <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">option</button>
        <button class="dropdown-item" type="button">Another option</button>
        <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
</div>

<div class="boardgames-group">
    <% items.forEach(function(item){ %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text"><%= item.info.description %></p>
                <div>
                    <p><%= item.amount %> Available</p>
                    <a href="#"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="#"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
    <% }) %>
</div>