.adminNavOption {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.adminNavOption:hover {
    color: var(--lightmint);
}

body {
    padding: 10px;
}

th, td {
    color: white;
}

.modal {
    color: black;
}

#add-bg-item {
    margin-bottom: 2rem;
    border-radius: 5px;
}

button {
    border-radius: 5px !important;
}

.btn-primary {
    padding: 6px 12px;
}

.modal-content {
    padding: 10px;
}

.admin-bgmodal-footer > button {
    height: 100%;
    margin-right: 2px;
}

td > button.btn-secondary {
    padding: 5px;
}



/* For mobile phones */
@media screen and (max-width: 768px) {

    #login-card {
        margin: 7rem auto !important;
    }

}