:root{
    --blueblack: #06001c;
    --darkblue: #020b4a;
    --darkashblue: #1d213d;
    --purple: #5500a5;
    --lightpurple: #7400b8;
    --purpleblue: #6930c3;
    --paleblue: #5e60ce;
    --ashblue: #5390d9;
    --lightashblue:#4ea8de;
    --lightblue: #48bfe3;
    --darkmint: #56cfe1;
    --lightmint: #64dfdf;
    --brightmint: #72efdd;
    --mint: #80ffdb;
    --palemint: #aaffe7;
    --whitemint: #d5fff3;
    --grey: #b1d0cf;
    --ashgreen: #364654;
    --greenblue: #13788a;
    --yellow: #ffc021;
    --orange: #ff8121;
    --red: #e8442e;
}

body {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: var(--darkblue);
    color: white;
    padding: 0;
}

h2, h1 {
    margin: 5rem auto 2rem 1rem;
}

a:hover {
    text-decoration: none;
    color: var(--mint);
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.btn-primary {
    background-color: var(--paleblue);
    color: var(--whitemint);
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--whitemint);
}

.btn-primary:hover {
    color: var(--whitemint);
    background-color: var(--purpleblue);
}

.btn-secondary {
    background-color: var(--mint);
    color: var(--purple);
    border: 1px solid var(--lightashblue);
    border-radius: 0 5px 5px 0;
}

.btn-secondary:hover {
    color: var(--purple);
    background-color: var(--whitemint);
}

.navbar-light {
    height: 70px;
    background-color: var(--greenblue);
}

.navbar-light .navbar-brand{
    color: #ffffff  !important;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    flex-shrink: none;
    background-color: var(--ashgreen);
    color: whitesmoke; 
    z-index: 1;
}

.dropdown-item {
    color: black;
}

.search-dropdown {
    color: black;
    outline: none;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block {
    width: 500px;
    margin: 20px;
}

.card-text {
    color: black;
}

#login-card, #signup-card {
    width: 70%;
    margin: 5rem auto;
}

#login-card-header, #signup-card-header {
    margin: 0;
    background-color: var(--paleblue);
}

.form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: var(--ashgreen);
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.form-field .fas, .form-field .fa-solid {
    font-size: 1.25rem;
    margin: 7px;
    color: var(--ashgreen);
}

.login-btn, .signup-btn {
    box-shadow: none;
    width: 100%;
    height: 50px;
    background-color: var(--paleblue);
    color: var(--whitemint);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid var(--purple);
    box-shadow: 3px 3px 3px var(--purple),
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.login-btn:hover, .signup-btn:hover {
    background-color: var(--purpleblue);
}

#signup-redirect, #login-redirect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signup-redirect > p, #login-redirect > p {
    color: black;
    margin-right: 10px;
}





/* For mobile phones */
@media screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    body {
        font-size: 0.8rem;
        margin-top: 120px !important;
    }
    
    footer {
        width: 100%;
        padding: 10px 5px;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
    
    nav {
        align-items: center;
        min-height: 50px;
        width: 100%;
        top: 0;
        position: relative;
        padding: 0;
    }

    .navbar-light {
        padding: 0;
    }
    
    .navbar-brand {
        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        margin: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 5px;
        text-decoration: none;
        border-bottom: 2px solid var(--mint);
    }
    
    #nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--greenblue);
    }

    #nav-menu  > a {
        padding: 5px;
        min-height: 5px;
        font-size: 1.1rem;
        width: 100%;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
    }

    .main-box {
        width: 100% !important;
        min-height: 50vh !important;
    }

    .main-box > p {
       font-size: 1rem !important;
    }

    .main-box > a {
        font-size: 1rem !important;
        padding: 7px 25px 7px 25px !important;
    }

    .outline {
        flex-direction: column !important;
    }

    #login-card, #signup-card {
        width: 90% !important;
        margin: 15rem auto !important;
    }

    table {
        border: 0;
        width: 100%;
    }
    
    table.modal-open {
        overflow: hidden;
    }
    
    table thead {
        border: none;
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        padding: 0;
    }
    
    table tr {
        border-top: 3px solid var(--mint);
        border-bottom: 3px solid var(--mint);
        display: block;
        margin-bottom: .625em;
    }
    
    table tr > td:first-child {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    table td {
        border-bottom: 1px solid var(--mint);
        display: block;
        font-size: 1rem;
        text-align: left;
        padding: 2px;
    }

    

}
