:root{
    --darkblue: #020b4a;
    --purple: #5500a5;
    --lightpurple: #7400b8;
    --purpleblue: #6930c3;
    --paleblue: #5e60ce;
    --ashblue: #5390d9;
    --lightashblue:#4ea8de;
    --lightblue: #48bfe3;
    --darkmint: #56cfe1;
    --lightmint: #64dfdf;
    --brightmint: #72efdd;
    --mint: #80ffdb;
    --palemint: #aaffe7;
    --whitemint: #d5fff3;
    --grey: #b1d0cf;
    --ashgreen: #364654;
    --greenblue: #13788a;
    --yellow: #ffc021;
    --orange: #ff8121;
    --red: #e8442e;
}

body {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: var(--darkblue);
    color: white;
    padding: 0;
}

h2, h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.navbar-light {
    height: 70px;
    background-color: var(--greenblue);
}

.navbar-light .navbar-brand{
    color: #ffffff  !important;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    flex-shrink: none;
    background-color: var(--ashgreen);
    color: whitesmoke; 
}

.dropdown-item {
    color: black;
}

.search-dropdown {
    color: black;
    outline: none;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block {
    width: 500px;
    margin: 20px;
}

.card-text {
    color: black;
}