/* Index page */

.outline {
    display: flex;
    flex-direction: row;
}

.main-box {
    width: 50%;
    min-height: 100vh;
    text-align: center;
}

.subscribe-box {
    background-image: url("../images/background-images/start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.purchase-box {
    background-image: url("../images/background-images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-box > p {
    margin: 12rem 3rem 0 3rem;
    font-size: 1.5rem;
    padding: 0 5px 0 5px;
    text-shadow: 2px 2px black;
}

.main-box > a {
    margin-top: 25px;
    font-size: 2rem;
    padding: 7px 50px 7px 50px;
    border-radius: 2rem;
}

.subscribe-box > a {
    box-shadow: 5px 5px var(--purple);
}

.purchase-box > a {
    box-shadow: 3px 3px var(--mint);
}



/* Contact page */

.contact-direction {
  margin: 2rem;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }


.container-contact1 {
    width: 1163px;
    background: var(--grey);
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    padding: 90px 130px 88px 148px;
    margin: 0 auto;
  }
  
  .contact1-pic {
    width: 296px;
  }
  
  .contact1-pic img {
    max-width: 100%;
  }
  
  .contact1-form {
    width: 390px;
  }
  
  .contact1-form-title {
    display: block;
    font-size: 2rem;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
  }
  
  input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
  }
  input.input1 + .shadow-input1 {
    border-radius: 25px;
  }
  
  textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
  }
  textarea.input1 + .shadow-input1 {
    border-radius: 25px;
  }
  
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  }
  
  .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: var(--greenblue);
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact1-form-btn i {
    margin-left: 7px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact1-form-btn:hover {
    background: var(--lightashblue);
  }
  
  .contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  
/* About page */

.jumbotron {
  background-color: var(--blueblack);
  margin: 3rem;
}

.jumbotron > h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0.25rem 1.7rem var(--mint);
  margin: 3rem;
}

.jumbotron-div {
  display: flex;
  flex-direction: row;
}

.jumbotron-div > p {
  margin: 3rem;
  font-size: 1.35rem;
}

.founders-photo {
  width: 30rem;
  height: fit-content;
  border-radius: 2rem;
  border: 1rem outset var(--ashblue);
  box-shadow: 5px 5px var(--paleblue);
}



/* Order History Page */

#user-subscription-div, #user-order-history-div {
  margin: 2rem;
}

#user-subscription-div > h3, #user-order-history-div > h3 {
  color: var(--mint);
  text-shadow: -1px 0 var(--purpleblue), 0 1px var(--purpleblue), 1px 0 var(--purpleblue), 0 -1px var(--purpleblue);
}

#current-subscription-div {
  margin: 1rem;
}

#current-subscription-div > p {
  color: var(--grey);
}

#current-subscription-div > p > span {
  color: white;
}

#user-order-table {
  color: white;
}




/* Subscription plan page */

#subscriptionTypesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}







/* For mobile phones */
@media screen and (max-width: 768px) {

  /* About page */
  .jumbotron {
    margin: 1rem !important;
  }

  .jumbotron-div {
    flex-direction: column !important;
    width: 100%;
  }

  .jumbotron-div > p {
    margin: 1rem !important;
  }

  .founders-photo {
    width: 20rem !important;
  }


  /* Contact Us page */

  .container-contact1 {
    width: 93% !important;
    padding: 0 !important;
    flex-direction: column;
  }

  .contact1-pic {
    width: 170px !important;
  }

  .contact1-form {
    width: 90%;
  }

  #subscriptionTypesDiv {
    flex-direction: column !important;
  }

  #subscriptionTypesDiv > .card {
    margin: 1rem auto;
  }

}