.outline {
    display: flex;
    flex-direction: row;
}

.main-box {
    width: 50%;
    min-height: 100vh;
    text-align: center;
}

.subscribe-box {
    background-image: url("../images/start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.purchase-box {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}