.select-body {
    display: flex;
    flex-direction: row;
}

.search-box {
    width: 70%;
    min-height: 100vh;
    padding-left: 10px;
}

.selection-box {
    width: 30%;
    min-height: 100vh;
    border-left: 1px solid var(--mint);
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    color: black;
}

.vertical-card {
    display: flex;
    flex-direction: row;
}

.vertical-card > * {
    padding: 5px;
}

.table {
    color: white;
    padding: 15px;
}

#search-engine-title {
    text-shadow: 1.5px 1.5px var(--lightblue);
}

#search-bars {
    width: 98%;
    height: 3rem;
    margin: 5px;
}

#search-bar-prepend-text {
    background-color: var(--paleblue);
    color: var(--whitemint);
    border: 1px solid var(--whitemint);
}

#search-input {
    width: 90%;
    height: 3rem;
    border: 1px solid var(--whitemint);
}

.search-bar-append > button {
    right: 0;
    height: 3rem;
    width: 3rem;
}

.options-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.options-group > .dropdown {
    min-width: 9rem;
}

.options-group > .dropdown > button {
    width: 100%;
    background-color: var(--ashgreen);
    color: var(--whitemint);
    border: 1px solid var(--whitemint);
    border-radius: 2rem;
}

.modal-header > * {
    color: black;
}

.modal-body-item {
    color: black;
}

.modal-body-item > span{
    margin-left: 5px;
}

.boardgames-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card, .vertical-card {
    width: 20rem;
    margin: 1rem 0 1rem 0;

}

.card-img-top {
    height: 25rem;
}

.few-left {
    color: var(--orange);
}

.unavailable {
    color: var(--red);
}

.user-buttons > a {
    font-size: 1.5rem;
    margin: 0 3px 0 3px;
}

#cart-items, #selection-items {
    min-height: 7rem;
}

.a-cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    margin: 7px 0 7px 0;
    border-top: 1px solid var(--palemint);
    border-bottom: 1px solid var(--palemint);
}

.a-cart-item > p {
    font-size: 1.5rem;
    margin: auto 0;
}

.remove-btn {
    text-align: center;
    color: var(--purple) !important;
    margin: auto 10px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid var(--ashblue);
    box-shadow: 3px 3px var(--ashblue);
}

#price-in-total {
    font-size: 1.5rem;
    margin: 10px 3px;
}

#checkoutButton, #subscribeButton {
    box-shadow: 3px 3px var(--orange);
    font-size: 1.25rem;
}