<%- include('../components/header.ejs') %>

<% if(sessionUser){ %>
    <%- include('../components/navbarUser.ejs') %>
  <% } else{ %>  
    <%- include('../components/navbarNew.ejs') %>
<% } %>
<body>
  <link rel="stylesheet" type="text/css" href="../css/index.css">

  <h1>About Co-Hop</h1>

  <div class="jumbotron">
    <h1 class="display-4">Hello, Co-Hop!</h1>
    <div class="jumbotron-div">
      <img class="founders-photo" src="../images/Founders2.JPG" alt="img">
      <p class="lead">
        Imagine looking through the window of your Copenhagen apartment. It is another rainy Friday. The last rays of sunlight for the day are hiding behind what feels like infinite clouds. 'Another uneventful day' you think to yourself. 
        Suddenly, there is a ring on the door. You wonder, what could that be? The delivery person hands you a box and you recognize the logo on it. "Co-Hop" it reads. Ah, of course! It is the new board game subscription service you signed up for a few days ago. 
        'Why does today have to be boring?' you say to yourself and unlock your phone. After a quick exchange of messages, your friends are on the way to your place for a game night. Let the fun begin!
      </p>
    </div>
    <div class="jumbotron-div">
      <p>
        Co-Hop helps users have the most fun with board game. Co-Hop has a goal to help people have fun by providing easy access to board games.<br>
        Board games are often good tools to socialise with friends and family and have fun altogether. However, the prices for each board game are often pretty high, and some board games are not worth purchasing even though they are fun to play with.
        Also, if you play a board game 100 times, it might get boring and you want to swap for something new and intersting. <br>
        Co-Hop provides solution to this problem in our way - by offering subscription for board games. Users can subscribe board games, play them for a month, and return the board games after a month.
        They can enjoy many different board games without the burden of purchasing them. 
        They can play the board games at a party, or when family or friends are visiting. 
        If they like the board game, they can subscribe again or even purchase through Co-Hop. If they don't like the board game, they can always return and try something else.<br>
        We are a group of developers in Copenhagen and San Francisco. And we are here to hep you have the most fun out of board games. 
        Join us and grab your chance to access all board games by simply subscribing Co-Hop!
      </p>
      <img class="founders-photo" src="../images/Founders1.JPG" alt="">
    </div>  
  </div>

</body>

<%- include('../components/footer.ejs') %>