<%- include('../components/header.ejs') %>

<% if(sessionUser){ %>
    <%- include('../components/navbarUser.ejs') %>
  <% } else{ %>  
    <%- include('../components/navbarNew.ejs') %>
<% } %>


<h1>About Co-Hop</h1>

<p>
  

</p>

<%- include('../components/footer.ejs') %>