<%- include('../components/header.ejs') %>

<% if(sessionUser){ %>
    <%- include('../components/navbarUser.ejs') %>
<% } else{ %>  
    <%- include('../components/navbarNew.ejs') %>
<% } %>

<body>
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <div class="outline">
        <div class="main-box subscribe-box">
            <p>Buy a subscription to rent 2 or more boardgames a month. It's a cheaper option to enjoy more boardgames at home!</p>
            <a type="button" class="btn btn-secondary" href="/subscribe-plan">Subscribe</a>
        </div>
        <div class="main-box purchase-box">
            <p>Just want to buy a boardgame? You can also do that.</p>
            <a type="button" class="btn btn-primary" href="/shop">Purchase</a>

        </div>

    </div>
</body>
<%- include('../components/footer.ejs') %>