<%- include('../components/header.ejs') %>

<style>
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    border: 10px solid var(--whitemint);
    border-radius: 2rem;
    margin: 5rem;
    background-color: var(--darkashblue);
    box-shadow: 5px 5px var(--ashblue);
}

.logo > i {
    font-size: 11rem;
    margin: 0 auto;
    color: var(--brightmint);
    text-shadow: 5px 5px var(--paleblue);
}
.logo > h1 {
    font-size: 5rem;
    margin: 0 auto;
    color: var(--whitemint);
    text-shadow: 3px 3px var(--ashblue);
}

</style>

<div class="logo">
    <i class="fa-solid fa-dice"></i>
    <h1>Co-Hop</h1>
</div>