<%- include('../components/header.ejs') %>
<%- include('../components/navbarUser.ejs') %>
<link rel="stylesheet" type="text/css" href="../css/main.css">

<body>

    <div class="select-body">
        <div class="search-box">
            <%- include('../components/search-engine.ejs') %>
        </div>
        <div class="selection-box">
            <h2>Selected Games</h2>
            <p>Select <span id="no-of-games-to-select">n</span> games in order to proceed.</p>
            <div id="cart-items">
                <!-- 'cart-items.ejs' TODO: this needs to be rendered -->
            </div>
            <a id="checkoutButton" type="button" class="btn btn-secondary" href="/proceed">Proceed <i class="fa-solid fa-gift"></i></a>
        </div>
    </div>
</body>

<%- include('../components/footer.ejs') %>