<%- include('../components/header.ejs') %>
<% if(sessionUser){ %>
  <%- include('../components/navbarUser.ejs') %>
<% } else{ %>  
  <%- include('../components/navbarNew.ejs') %>
<% } %>

<body>
    <h1>Subscription</h1>
    <p>detail explanatino of subscription</p>
    <div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">subscription title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/subscribe?plan=1" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">subscription title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/subscribe?plan=2" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">subscription title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/subscribe?plan=3" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</body>
<%- include('../components/footer.ejs') %>