<%- include('../components/header.ejs') %>
<%- include('../components/navbarUser.ejs') %>
<link rel="stylesheet" type="text/css" href="../css/main.css">

<body>

    <div class="confirm-message-box">
        <h1>Subscription enabled!</h1>
        <p>We will deliver the boardgames soon. </p>
        <i class="fa-solid fa-face-smile-wink"></i>
    </div>

    <div class="mystery-game-box">
        <h3>Mystery game</h3>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="boardgame-options">
                    <p><i class="fa-solid fa-box-archive"></i>genre</p>
                    <p><i class="fa-solid fa-users"></i>no_of_people</p>
                    <p><i class="fa-solid fa-hourglass"></i>duration</p>
                    <p><i class="fa-solid fa-child"></i>age</p>
                    <p><i class="fa-solid fa-globe"></i>language</p>
                </div>
            </div>
        </div>
    </div>

    <div class="link-to-order-box">
        <h3>To see your order:</h3>
        <a href="#" class="btn btn-info">View Order</a>
    </div>

</body>
<%- include('../components/footer.ejs') %>